

.produtos_detalhes{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    gap: 32px;
}

.detalhes_imagens{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.detalhes_imagens figure{
    width: 100%;
    height: 200px;
    background-color: var(--white_soft);

    display: flex;
    align-items: center;
    justify-content: center
}


.detalhes h4{
    font-size: 18px;
    line-height: 28px;
}

.detalhes h5{
    font-size: 16px;
    line-height: 26px;
    color: var(--brand_color);
}

.detalhes h6{
    font-size: 18px;
}


.detalhes, .tamanho, .botão, .descricão{
    margin-bottom: 20px;
}

.botão{
    width: 100%;
}

.botão button{
    background-color: var(--dark);
    color: var(--white);
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}